{% extends 'base.html' %}

{% block title %} What did you think? {% endblock %}

{% block content %}
    <form method="POST" action="/comments">
        {{% form.hidden_tag() %}}
        {% for field in form 
            if field.widget.input_type != 'hidden' %}
        {{ form.content.label }} {{ form.content }}
        <input type="submit" value="Submit">
    </form>
    <form action="//meal_plan/new" method="get">
        <input type="submit" value="Make A Meal Plan!">
    </form>
    <form action="/logout">
        <input type="submit" value="Logout">
{% endblock %}