{% extends 'base.html' %}

{% block title %} User Comments {% endblock %}

{% block content %}
    {% for comment in comments %}
        <a href="/comments/{{comment.id}}"><h2>Check this one out!</h2></a>
        <div class="comment">
            <p>{{ comment.content }}</p>
            <form method="POST" action="/comments/{{comment_id}}/delete">
                <input type="submit" value="Delete">
            </form>
        </div>
        <form action="/meal_plans/new" method="get">
            <input type="submit" value="Make A Meal Plan!">
        </form>
        <form action="/comments/new">
            <input type="submit" value="Comment">
        </form>
        <form action="/logout">
            <input type="submit" value="Logout">
    {% endfor %}
{%endblock%}