{% extends 'base.html' %}
{% block title %}Reviews{% endblock %}

{% block content %}
    <h1>Leave your thoughts!</h1>
    <form method="POST" action="/meals/{{ meal_id }}/comments/new">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control") }}
            {% if form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.content.errors %}
                        <span>{{ error }}</span><br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
