{% extends 'base.html' %}
{% block title %} Here's Your Meal Plan! {% endblock %}
{% block content %}
    <h1>Generated Meal Plan</h1>
    <form action="/meal_plans/new" method="get">
        <input type="submit" value="Make A Meal Plan!">
    </form>
    <form action="/logout">
        <input type="submit" value="Logout">
    </form>
    <ul>
        {% for meal in meals %}
            <li>
                <h3>{{ meal.title }}</h3>
                <p>Source URL: <a href="{{  meal.source_url  }}">{{ meal.title }}</a></p>
                <p>Ready In Minutes: {{ meal.ready_in_minutes }}</p>
                <p>Servings: {{ meal.servings }}</p>
                <form method="GET" action="/meals/{{meal.id}}/comments/new">
                    <input type="submit" name="Submit" id="make-new-comment" value="Comment">
                </form>
            </li>
        {% endfor %}
    </ul>
    <h3>Nutrients</h3>
    <ul>
        <li>Calories: {{ calories }}</li>
        <li>Protein: {{ protein }}</li>
        <li>Fat: {{ fat }}</li>
        <li>Carbohydrates: {{ carbohydrates }}</li>
    </ul>
    <form method="POST" action="/meal_plans/{{ meal_plan_id }}/delete">
        <input type="submit" value="Delete Meal Plan">
    </form>
    <form method="GET" action="/users/{{user_id}}">
        <input type="submit" value="See Your Meal Plans">
    </form>
{% endblock %}