<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Plan Form</title>
</head>
<body>
    <h1>Enter A Meal Plan!</h1>
    <form action="/meal_plans/new" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form %}
        <!--{% if field.widget.input_type != 'hidden' %}-->
            <label for="{{ field.id }}">{{ field.label }}</label>
            {{ field(class="form-control") }}
            <br>
            {% for error in field.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        <!--{% endif %}-->
    {% endfor %}
    <input type="submit" value="Create Meal Plan">
    </form>
    <form action="/logout">
        <input type="submit" value="Logout">
    </form>
</body>
</html>