{% extends 'base.html' %}
{% block title %} Meal Plans {% endblock %}
{% block content %}
    <ul>
        {% for plan in meal_plans %}
            <li>
                <a href="/meal_plans/{{ plan.id }}">
                    Username: {{ username }} - Meal Plan ID: {{ plan.id }} - Diet: {{ plan.diet }}
                </a>
                <form method="POST" action="/meal_plans/{{ plan.id }}/delete">
                    <input type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
        <form action="/meal_plans/new" method="get">
            <input type="submit" value="Make A Meal Plan!">
        </form>
        <form action="/logout">
            <input type="submit" value="Logout">
        </form>
    </ul>
{% endblock %}
