{% extends 'base.html' %}

{% block title %} Comment {% endblock %}

{% block content %}
    <div class="comment">
        <p>{{ comment.content }}</p>
        <form method="POST" action="/comments/{{comment_id}}/delete">
            <input type="submit" value="Delete">
        </form>
    </div>
    <form action="//meal_plans/new" method="get">
        <input type="submit" value="Make A Meal Plan!">
    </form>
    <form action="/logout">
        <input type="submit" value="Logout">
{% endblock %}