{% extends 'base.html' %}
{% block title %} Here's Your Meal Plan! {% endblock %}
{% block content %}
    <h1>Generated Meal Plan</h1>
    <form action="/meal_plans/new" method="get">
        <input type="submit" value="Make A Meal Plan!">
    </form>
    <form action="/logout">
        <input type="submit" value="Logout">
    </form>

    {% for day, day_meals in meal_obj.items() %}
        <h2>{{ day.value }}</h2>
        <ul>
            {% for meal in day_meals %}
                <li>
                    <h3>{{ meal.title }}</h3>
                    <p>Source URL: <a href="{{ meal.source_url }}">{{ meal.title }}</a></p>
                    <p>Ready In Minutes: {{ meal.ready_in_minutes }}</p>
                    <p>Servings: {{ meal.servings }}</p>
                    <form method="GET" action="/meals/{{ meal.id }}/comments/new">
                        <input type="submit" name="Submit" id="make-new-comment" value="Comment">
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <h3>Meal Plan Nutrients</h3>
    <p>Calories: {{ meal_plan.calories }}</p>
    <p>Protein: {{ meal_plan.protein }}</p>
    <p>Fat: {{ meal_plan.fat }}</p>
    <p>Carbohydrates: {{ meal_plan.carbohydrates }}</p>

    <form method="POST" action="/meal_plans/{{ meal_plan_id }}/delete">
        <input type="submit" value="Delete Meal Plan">
    </form>
    <form action="get" action="/users/{{ user_id }}">
        <input type="submit" value="See Your Meal Plans">
    </form>
{% endblock %}
